body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.ec-minicart__icon {
    width: 100% !important;
    height: auto !important;
}

.ec-minicart--no-shape {
    padding: 0 !important;
    display: block;
    width: 100%;
}
